# compiled class files
*.class
# this file contains compiled class files
/bin
# vscode config file
.vscode
# intellij config file
.idea
# uml diagram files
*.uml
# iml files
*.iml
# project file
*.project
# classpath file
*.classpath
